<!-- Main jumbotron for a primary message or call to action -->
<div class="jumbotron text-white p-4 bowling-bg-img">
  <div class="container">
    <h1 class="text-center bowling-header-text">Bowling Angular Application</h1>
  </div>
</div>
<!-- container -->
<div class="container">
    <!-- The Modal -->
    <div class="modal overlay" id="myModal" *ngIf="showModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Bowled!!</h4>
                    <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ content }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click) = "hide()">Close</button>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <!-- SCORE CARD-->
        <app-bowling-scorecard></app-bowling-scorecard>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 border-right">
          <!-- Player -->
        <app-bowling-player></app-bowling-player>
      </div>
      <div class="col-md-4 border-right">
          <!-- Game -->
        <app-bowling-game></app-bowling-game>
      </div>

      <div class="col-md-4">
          <!-- Ball -->
       <app-bowling-roll [knocked]="knocked"></app-bowling-roll>
      </div>

    </div>
    <div class="card-footer">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" maxlength="12" class="form-control" placeholder="Player Name" [disabled]="currentGame.isStarted" [(ngModel)]="newPlayer">
          <div class="input-group-btn">
            <button type="button" class="btn btn-primary" [disabled]="currentGame.isStarted || newPlayer === ''" (click)="joinGame()">
               Join<fa-icon [icon]="faUserPlus" class="ml-2"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn w-75 btn-primary ml-5" [disabled]="currentGame.isStarted || disableStartGameButton" (click)="startGame()">
           Start Game <fa-icon [icon]="faPlayCircle" class="ml-2"></fa-icon>
        </button>
      </div>
      <div class="col-md-3">
        <button class="btn w-75 btn-secondary ml-5" [disabled]="!currentGame.isStarted" (click)="finishGame()">
          Finish Game <fa-icon [icon]="faStopCircle" class="ml-2"></fa-icon>
        </button>
      </div>
      <div class="col-md-3">
        <button class="btn w-75 btn-primary ml-5" [disabled]="!currentGame.isStarted || currentGame.isFinished" (click)="throwBall();">
           Throw a Ball <fa-icon [icon]="faSync" class="ml-2"></fa-icon>
        </button>
      </div>
    </div>
    </div>
  </div>
<!-- /container -->
