/* You can add global styles to this file, and also import other style files */
.bowling-app {
    font-family: "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;
}
.jumbotron, .score-card {
    background-image: linear-gradient(-296deg, rgb(0, 94, 93), rgb(0, 133, 122));
}
.info-list {
    list-style-type: none;
}


